@import "../variables/screen";

.a-header {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  height: 100%;
  margin-top: -5px;
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: bolder;
  text-transform: uppercase;
  .col-xs-1 {
    padding-left: 0;

    a {
      color: #fff;
    }
  }
}
