@import "../variables/screen";

.a-footer {
  bottom: 0;
  background-color: $brand-color-2;
  height: 40px;
  position: fixed;
  font-weight: bolder;
  font-size: 15px;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  text-align: center;

  .a-f {
    a{
      color: #fff;
    }
  }
}
