@import "../variables/screen";

.summary {
  font-size: 15px;
  margin: 8px 0 0px 0;

  &.rr {
    height: 310px;
    background-color: #f8f8f8;

    .promo {
      background-color: #f8f8f8;
      height: 57px;

      .qn {
        margin-top: 10px;
      }
    }
  }

  button {
    background-color: $brand-color-2;
    border: none;
    border-radius: 2px;
    color: #fff;
    height: 30px;
    padding: 0;
  }

  .errormsg {
    color: $brand-color-2;
    text-align: center;
  }

  [class^="col-"] {
    padding: 9px 0 0 10px;
    height: 60px;
    font-weight: bolder;
    color: $brand-color;
  }

  .col-xs-12:nth-child(odd) {
    background-color: #fff;
  }

  .col-xs-12:nth-child(even) {
    background-color: #f8f8f8;
  }

  .col-xs-12:nth-child(last) {
    margin-bottom: 60px;
  }

  .qn {
    background-color: transparent;
    border: 1px solid $brand-color-2;
    color: $brand-color-2;
    padding: 0;
    font-weight: bolder;
    height: 40px;
  }

  #promocode{
    height: 40px;
    padding: 0;
  }

  .apply{
    height: 40px;
    padding: 0;
    color: #fff;
  }

  .applied{
    background-color: $brand-color-2;
    color: #fff;
    padding: 5px 15px;
    height: 30px;
    border-radius: 20px;
    text-transform: uppercase;

    .fa{
      font-size: 20px;
    }
  }

  input {
    border-radius: 2px;
    border: 1px solid $brand-color-2;
  }

  .col-xs-4 {
    text-align: center;
  }

  .promo {
    height: 40px;
    padding-top: 10px;
    padding-right: 10px;

  }

  .offers {
    height: 200px;
    margin: 10px;
    position: relative;
    min-height: 200px;
    padding: 0;
    background-color: red;
  }
}

.terms {
  margin: 20px 0 50px 0;
  color: grey;

  h5 {
    margin-left: -10px;
  }
}

.summ{
  bottom: 0;
  position: fixed;
  margin-left: -33.33%;

  .tooltip .tooltiptext{
    bottom: 200%;
    left: -150%;
    width: 250px;

    &::after{
      top: 100%;
      left: 50%;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .summ {
    min-width: 100%;
    left: 0;
    margin-left: 0;
  }
}
