@import "../variables/screen";

.cart {
  height: 50px;
  background-color: #222;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  bottom: 0;
  position: fixed;
  padding: 0;
  text-align: center;
  color: #fff;

  .col-xs-2 {
    border-right: 1px solid #444;

    .count {
        background: #ffff66;
        color: #000;
        font-weight: bolder;
        border-radius: 10px;
        padding: 2px;
        font-size: 11px;
      }

  }

  .fa {
    color: #fff;
  }

  .gh {

    .tooltip .tooltiptext{
      bottom: 250%;
      left: -80%;
      width: 110px;

      &::after{
        top: 96%;
        left: 50%;
      }
    }

  }

  .book {
    background-color: $brand-color-2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;

    .tooltip .tooltiptext{
      bottom: 250%;
      left: -80%;
      width: 110px;

      &::after{
        top: 96%;
        left: 50%;
      }
    }
  }
}
