.sidenav {
  height: 100%;
  color: #fff;
  width: 0;
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  background-color: #068481 !important;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 40px;
  opacity: 0.98;

  .col-md-12 {
    padding: 16px 8px 16px 15px;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
    background-color: #057370 !important;
    box-shadow: 0px 2px 2px #046260;
    margin-bottom: 2px;

    .fa {
      margin-right: 10px;
    }

    a {
      color: #fff;
    }

    &:hover {
      color: #f1f1f1;
      background-color: #046260 !important;
    }
  }

  .contact {
    height: 100px;
    background-color: #057370;
    position: fixed;
    bottom: 0;

    a {
      width: 50px;
      height: 50px;
      display: inline-block;
      border-radius: 50%;
      text-align: center;
      font-size: 30px;
      padding: 5px;
      margin-left: 100px;
      background-color: #046260;
      color: #fff;
    }

    span {
      display: block;
      font-size: 11px;
      padding: 5px;
      text-align: center;
      width:250px;
    }
  }

  .u-name {
    height: 70px;
    font-size: 35px;
    width: 70px;
    border-radius: 50%;
    background-color: #034f4d;
    margin-left: 85px;
    text-align: center;
    padding-top: 12px;
    margin-bottom: 4px;
    font-weight: lighter;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .closebtn {
    position: absolute;
    top: 2px;
    right: 25px;
    margin-left: 50px;
    color: #fff;
    transition: 0.1s;
    text-shadow: 1px 1px 1px black;
    font-size: 25px;
  }
}
