@import "../variables/screen";

footer {
  background-color: $footer-bg;
  margin: auto;
  padding: 20px 0 0 0;

  .col-xs-3 {

    &.pad0{
      text-align: center;

      a{
        color: #555;
      }
    }
  }

  .h{
    margin-bottom: 10px;
  }

  .col-xs-6{

    padding-left: 20px;

    a{
      color: #555;
    }
  }



  .social {
    text-align: center;
    margin-top: 40px;

    .fs-item {
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 20px;
      color: #fff;
      padding: 3px 0 0 0;
      margin: 7px;

      i{
        font-size: 14px;
      }
    }
    .fs-item:nth-child(1) {
      background-color: #3b5998;
    }
    .fs-item:nth-child(2) {
      background-color: #88C8CA;
    }
    .fs-item:nth-child(3) {
      background-color: #BD081C;
    }
    .fs-item:nth-child(4) {
      background-color: #0e68ce;
    }
    .fs-item:nth-child(5) {
      background-color: #db4733;
    }
  }
  .copyright {
    font-size: 0.8em;
    color: #444;
    display: block;
    text-align: center;
    padding: 10px;
  }

}
