@import "../variables/screen";
.us{
  position: relative;

  .emptyCart {
    min-height: 127px;
    width: 127px;
    padding: 17px;
    position: relative;
    margin: 40% auto 20px;
    background-color: #fab450;
    border-radius: 90px;

    .fa {
      font-size: 90px;
      color: $brand-color;

    }
  }

  .col-xs-12 {
    color: $brand-color;
    margin-top: 10px;
  }

  .mcwidget-embed{
    padding: 15px;
    min-height: 250px;
    background-color: #fff;

    .pht{
      max-height: 200px;
      .a-b{
        height: 10px;
      }
    }


    .fSwDb_rd{
      z-index: 214748363 !important;
      padding: 0 !important;
    }
  }
}

