@import "../variables/screen";
.us{
  position: relative;

  .emptyCart {
    min-height: 127px;
    width: 127px;
    padding: 17px;
    position: relative;
    margin: 100px auto 20px;
    background-color: #ddd;
    border-radius: 90px;

    .fa {
      font-size: 90px;
      opacity: 0.3;
      color: $brand-color;

    }
  }
}

