@import "../variables/screen";
.us{
  position: relative;

  .emptyCart {
    min-height: 127px;
    width: 127px;
    padding: 17px;
    position: relative;
    margin: 40% auto 20px;
    background-color: #fab450;
    border-radius: 90px;

    .fa {
      font-size: 90px;
      color: $brand-color;

    }
  }

  .col-xs-12 {
    color: $brand-color;
    margin-top: 10px;
  }

  .mcwidget-embed{
    padding: 20px;
    min-height: 250px;
    background: #fff url('../styles/assets/images/thnkyou.png') no-repeat center;
    background-size: cover;

    .pht{
      max-height: 200px;
      .a-b{
        height: 10px;

        &.bt{
          width: 60%;
          margin-left: 20%;
        }
      }

      @media screen and (min-width: 992px){
        .a-b{
          margin-left: 10%;
          width: 80%;


        }
      }
    }


    .fSwDb_rd{
      z-index: 214748363 !important;
      padding: 0 !important;
    }
  }
}

