@import "../variables/screen";

.header {
  background-color: $brand-color;
  height: 40px;
  padding-top: 3px;

  .hlg {
    background: url('https://static.lookplex.com/mobileImages/logo.png') center no-repeat;
    background-size: contain;
    height: 35px;
    .menue {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-right: 6px;
    }
  }
}
