@import "../variables/screen";

.header {
  background-color: $brand-color;
  height: 40px;
  padding-top: 8px;

  .hlg {
    background: url('https://static.lookplex.com/mobileImages/logo.png') center no-repeat;
    background-size: contain;
    height: 25px;

    .fa-long-arrow-left {
      color: #fff;
      font-size: 16px;
      padding-top: 4px;

      @media only screen and (min-width: 992px) {
        display: none;
      }
    }

    .menue {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      margin-right: 6px;

      @media only screen and (min-width: 992px) {
        display: none;
      }
    }
  }
  &.h{
    @media only screen and (min-width: 992px) {
      position: fixed;
      z-index: 2;
    }
  }
}
