@import "../variables/screen";
.refer {
  height: 100%;
  font-size: 14px;
  color: #898989;

  .invite {

    .img {
      background: url('../styles/assets/images/refer.jpg') center no-repeat;
      background-size: contain;
      height: 150px;
      margin: -20px 0 10px 0;
    }
    .a {
      text-align: center;
      border-radius: 2px;
      padding: 10px 10px 40px 10px;

      .code {
        height: 40px;
        border: 2px dashed #999;
        font-weight: bolder;
        font-size: 18px;
        padding: 5px;
        background-color: #e6f2f2;
      }


      &.invite-wap {
        background-color: #4dc247;
        color: #fff;
        padding: 8px 10px;
        border-radius: 25px;
        margin: 20px 0 0 21%;

        .fa {
          font-size: 20px;
          margin-right: 10px;
        }

        .col-xs-9 {
          padding: 5px 0;
        }
      }
    }

    .static {
      margin-top: 20px;
      background-color: #fff;
      padding: 10px;
    }
  }

  .rewards {
    .img {
      background: url('../styles/assets/images/credits.jpg') center no-repeat;
      background-size: contain;
      height: 100px;
      margin: -20px 0 30px 0;
    }

    border-radius: 2px;
    height: 70%;
    text-align: center;
    padding: 10px 10px 40px 10px;

    .col-xs-12 {
      .i{
        font-size: 30px;
        font-weight: bolder;
      }
      i {
        font-size: 30px;
        margin-bottom: 20px;
      }
    }
  }

    ul {
      margin-bottom: 20px;

      li {
        margin-bottom: 8px;
        text-align: left;
      }
    }
  @media only screen and (max-width: 991px) {
    padding: 0 7px;
  }
}
