@import "../variables/screen";
.refer {
  height: 100%;

  .head {
    background-color: $brand-color;
    padding-top: 10px;

    .col-xs-6 {
      text-align: center;
      padding: 15px;
      color: #fff;

      &.true {
        border-bottom: 2px solid #fff;
      }
    }
  }

  .mask{
    opacity: 0.1;
    background-color: #000;
    margin-top: -150px;
    min-height: 150px;
  }

  .invite {
    background-color: #fff;
    padding: 2px 0;
    height: 100%;

    .a {
      margin: 15px 0;
      color: #777;
      font-size: 14px;
      text-align: center;

      &:nth-child(3) {
        font-size: 10px;

        .col-xs-2 {
          border-bottom: 1px solid #ddd;
          min-height: 15px;
        }

        .col-xs-8 {
          border: 1px solid #ddd;
          border-radius: 15px;
          padding: 7px;
        }
      }

      &:nth-child(4){
        font-weight: 900;
        font-size: 16px;
        margin-top: -6px;
        color: #555;
      }

      &.invite-wap {
        background-color: #4dc247;
        color: #fff;
        padding: 5px 10px;
        border-radius: 25px;
        margin-left: 21%;

        .col-xs-9 {
          padding: 8px 0;
        }

        .fa {
          font-size: 30px;
          margin-right: 10px;
        }
      }
    }
  }

  .rewards {
    height: 100%;
    background-color: #fff;

    .col-xs-12 {
      margin-top: 20px;
      text-align: center;
      color: #777;

      &:nth-child(2), &:nth-child(3) {
        font-size: 25px;
        font-weight: bolder;
        color: $brand-color;
      }
    }
  }
}
