@import "../variables/screen";
.lo{
  height: 100%;

  .login {
    background-color: #034240;
    height: 130%;
    min-height: 500px;
    text-align: center;

    .discard {
      margin: 10px 25px;
      position: fixed;
      top: 0;
      padding: 0;
      text-align: left;

      a {
        color: $brand-color;
        font-size: 30px;
        font-weight: 100;
      }
    }

    .logo {
      text-align: center;
      margin: 100px 0 80px 0;

      .hlg {
        background: url('https://static.lookplex.com/mobileImages/logo.png') center no-repeat;
        background-size: contain;
        height: 22px;
        margin-left: -8px;
      }
    }

    .col-xs-1 {
      padding-bottom: 7px;

      .fa {
        font-size: 20px;
        color: $brand-color;
      }
    }

    input {
      background-color: #034240;
      margin-bottom: 50px;
      padding-bottom: 10px;
    }

    button {
      background-color: $brand-color;
      min-height: 45px;
      font-size: 16px;
      border-radius: 2px;
    }

    /* this is used for OTP confirm page*/
    .resend-otp{
      margin-top: 20px;
      text-decoration: underline;
      color: $brand-color;
      text-align: left;
    }
  }
}
