@import "../variables/screen";

.offers {
  .message {
    background-color: #fff;
    margin-top: 20px;
    padding: 10px;
    font-size: 14px;
  }
  .offer {
    background-color: #fff;
    min-height: 100px;
    margin-top: 20px;
    border-radius: 2px;
    font-size: 20px;

    .header {
      background-color: #cde6e5;
      color: $brand-color;

      &.col-xs-2 {
        font-size: 10px;
        padding-top: 13px;
        border: 1px solid $brand-color;
        border-radius: 2px;
        text-align: center;
        background-color: $brand-color;
        color: #fff;
        cursor: pointer;
      }
    }

    .body {
      font-size: 15px;
      padding-top: 5px;
      color: #666;
    }
  }
}
