@import "../variables/screen";

.offers {

  .img {
    margin-top: 5px;
    background: url('../styles/assets/images/offers.jpg') center no-repeat;
    background-size: contain;
    height: 120px;

    @media only screen and (min-width: 992px) {
      margin-top: 50px;
    }
  }

  .offer {
    background-color: #fff;
    margin-top: 17px;
    border-radius: 2px;
    border: 1px dotted $brand-color-lightest;

    .header {
      background-color: $notify-info;
      color: #fff;
      padding: 13px;
      min-height: 50px;

      strong {
        font-size: 16px;
      }
    }

    .body {
      font-size: 15px;
      color: #666;
      font-weight: bolder;
      border-top: none;

      strong {
        font-size: 60px;
      }
    }
  }
}
