@import "../variables/screen";

.confirm {

  input{
    min-height: 50px;
    margin: 30px 0;
  }

  textarea {
    background-color: transparent;
    padding: 5px;
    color: $brand-color;
    border-color: $brand-color;
    border-radius: 2px;
  }

  .datepick{
    border-radius: 3px;
    min-height: 220px;
    color: #fff;
    padding: 20px 10px;
    background: $brand-color; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #023433, $brand-color, #023433); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #023433, $brand-color, #023433); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #023433, $brand-color, #023433); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #023433, $brand-color, #023433);

    span {
      font-size: 12px;
    }

    .date{
      text-align: center;
      font-size: 16px;
    }

    select{
      margin: 20px 0 0 0;
      border-radius: 1px;
      background-color: #023433;
      color: #fff;
    }
  }

  .message{
    margin: 10px 0 60px 0;
  }


}
