@import "../variables/screen";

.confirm {
  font-size: 14px;

  input{
    min-height: 50px;
    margin: 30px 0;
  }

  textarea {
    background-color: transparent;
    padding: 5px;
    color: $brand-color;
    border-color: $brand-color-lightest;
    border-radius: 2px;
  }

  .datepick{
    border-radius: 2px;
    min-height: 220px;
    color: $brand-color;
    padding: 20px 0;

    //span {
    //  font-size: 12px;
    //}

    .date{
      text-align: center;
      font-size: 16px;
    }

    .col-xs-3 {
      margin-right: 12%;

      &:nth-child(5) {
        margin-right: 0%;
      }
    }

    select{
      margin: 20px 0 0 0;
      border-radius: 3px !important;
      background-color: transparent;
    }
  }

  .message{
    margin: 10px 0 60px 0;
  }


}
