@import "../variables/screen";

.menu {
  border-bottom: 1px solid #f9f9f9;
  min-height: 70px;
  display: flex;
  align-items: center;
  padding: 0 8px;
  font-weight: bolder;
  color: #555;

  .brand {
    color: $brand-color;
  }

  &:nth-child(odd) {
    background-color: #fff;
  }

  &:nth-child(even) {
    background-color: #f8f8f8;
  }

  [class^="col-"] {
    padding: 0;
  }

  div {
    .fa {
      color: #aaa;
    }
  }
}

