@import "../variables/screen";

.static-portion {
  .description {
    border: 10px solid $brand-color;
    background-color: $brand-color;
    margin-top: 8px;
    border-bottom: 0;

    img {
      margin: -20px 0 0 68%;
    }

    h3 {
      color: #fff;
      margin: -60px 10px 15px 0;
      font-weight: 500;
      font-size: 18px;
    }

    .desc {
      padding: 6px 10px 0 10px;
      color: #666;
      background-color: #fff;
      border-radius: 4px 4px 0 0;
    }
  }

  .desc-bottom {
    min-height: 10px;
    margin: -1px 10px;
    box-shadow: 0 1px 1px 0 #ddd;
    border-top: none;
    border-radius: 0 0 4px 4px;
    background-color: #fff;
  }

  .advantage {
    background-color: $brand-color-2;
    padding: 30px 10px 0 10px;

    .header {
      background-color: transparent;
      color: #fff;
      font-size: 18px;
    }

    .flex {
      display: flex;
      display: -webkit-box;
      display: -ms-flexbox;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      background-color: #fff;

      div {
        width: 50%;
        text-align: center;
        color: #444;
        padding: 20px 0;

        &:nth-child(1) {
          border-bottom: 1px solid #eee;
          border-right: 1px solid #eee;
        }

        &:nth-child(2) {
          border-bottom: 1px solid #eee;
        }

        &:nth-child(3) {
          border-right: 1px solid #eee;
        }
      }
    }


  }

  b {
    font-weight: 900;
  }

  .desc-bottom {
    margin-bottom: 10px;

    &.d {
      margin-top: -2px;
    }
  }

  .desc-bg {
    margin-top: -220px;
  }
}


