@import "../variables/screen";

.testimonials{
  min-height: 380px;
  margin-top: 10px;

  .testimonial {
    position: relative;
    margin: 0 0 15px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 0;
    color: #fff;
    background-color: $brand-color;
    min-height: 200px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.12);

    .name {
      font-weight: bolder;
      margin-top: 14px;
    }

    .details {
      font-weight: lighter;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    ::after{
      content: "";
      position: absolute;
      top: 190px;
      left: 0%;
      margin-left: -10px;
      border-width: 10px;
      border-style: solid;
      border-color: $brand-color transparent transparent transparent;

      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    &:nth-child(1){
      background-color: $brand-color-2;
      border-radius: 3px 3px 0 3px;
      min-height: 240px;

      ::after{
        left: 100%;
        top: 230px;
        border-color: $brand-color-2 transparent transparent transparent;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }

  .col-xs-12{

    .img {
      text-align: left;
      padding-left: 0;

      img{
        height: 90px;
        border-radius: 3px;
        margin-top: 110px;
      }
    }

    &:nth-child(2){

      .img {
        text-align: right;
        padding-right: 0;

        img{
          margin-top: 150px;
        }
      }
    }
  }

  @media only screen and (min-width: 992px) {
    margin-bottom: 40px;
  }
}

