@import "../variables/screen";

@media only screen and (min-width: 600px) {
  .top-msg{
    left: 33%;
    max-width: 400px;
  }
}

.top-msg{
  position: fixed;
  top: 10px;
  min-height: 40px;
  z-index: 2222;
  color: #fff;
  font-size: 14px;
  padding-top: 10px;
  margin-left: 21px;

  &.error{
    background-color: $brand-color-2;
    min-height: 40px;

    &:hover{
      opacity: 0.9;
    }
  }

  &.info{
    background-color: $brand-color;
    min-height: 40px;
    text-align: center;

    &:hover{
      opacity: 0.9;
    }
  }
}
