@import "../variables/screen";

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 130px;
  background-color: $brand-color;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 5px 3px;
  position: absolute;
  z-index: 1;
  left: 100%;
  opacity: 0;
  transition: opacity 1s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 5%;
  left: 0%;
  margin-left: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: $brand-color transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/*
    content: "";
    position: absolute;
    top: 55%;
    left: 0%;
    margin-left: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: #068481 transparent transparent;
*/
